*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

a{
    text-decoration: none;
    color:#000080;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar a:hover{
    color: #FF7F50;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-background{
    background-image: url('../images/hero.jpeg');
    background-size: cover;
}


.hero{
    padding: 11.2rem;
    color: #FFFFFF;

}

.hero--text{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.cta{
    width: 4rem;
    height: 2rem;
    background: hsl(16.1,100%,65.7%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
    color: #FFFFFF;
}

.cta:hover{
    background: hsl(16.1,100%,60.7%);
}

h3{
    margin: 1rem;
    padding: 1rem;
}
.about-background{
    background-image: url('../images/sail.webp');
    background-size: cover;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6.5rem 9.5rem;
    color: #FFFFFF;
    width: 70vw;
}

.benefits{
    padding: 8.7rem;
    color: #000080;
    background-color: #FFFFFF;
}

.benefits--list{
    display:flex;
    justify-content: space-between;
    list-style: none;
    
}

li{
    padding: .5rem;
    background: hsla(0, 0%, 100%, .15);
}