*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333;
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-background{
    background-image: url('../images/hero.jpeg');
    background-size: cover;
}


.hero{
    padding: 14.2rem;
    color: #FFFFFF;

}

.hero--text{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.cta{
    width: 4rem;
    height: 2rem;
    background: #FF7F50;
    margin: 1rem;
    padding: 1rem;
    border-radius: 50px;
    color: #FFFFFF;
}

#sub-heading{
    margin: 1rem;
    padding: 1rem;
}

.about{
    padding: 5.0rem 9.5rem;
    color: #000080;
}

.benefits{
    padding: 8.7rem;
    color: #FFFFFF;
    background-color: #000080;
}

.benefits--text{
    display:flex;
    list-style: none;
}